<%if @target.matrix.nil?%>
	<%= select('target', :matrix, @kv, {:include_blank => true}, {:class => "ibtTableSelectBox", :onchange => "document.getElementById('submitchangeitemt#{@target.id.to_s}').click();", :title => @target.matrix.to_s}) %>
<%else%>
	<%= select('target', :matrix, @kv, {:selected=>@target.matrix.to_i, :include_blank => true}, {:class => "ibtTableSelectBox", :onchange => "document.getElementById('submitchangeitemt#{@target.id.to_s}').click();", :title => @target.matrix.to_s}) %>
<%end%>
