<% form_remote_tag :update => "s_" + params[:id], :url => {:controller=>:sources, :action=>:dropdowns, :id=> params[:id], :bdtype_id=> params[:bdtype_id], :display=>session[:display]} do %>

  <%= select('bediengeraets', 'kv', @kv, {:selected=>params[:kv].to_i}, {:onchange => "document.getElementById('submitkv" + params[:id] + "').click();"}) %>
  <input type="image" src="/images/blank.png" id="submitkv<%= params[:id] %>" width="0" height=0>
<% end %>