Download <%= link_to "ibt.conf", "/downloads/download" %> here <br /><br />
Download <%= link_to "MixerTemplates.conf", "/downloads/mixer_templte" %> here <br /><br />
Download <%= link_to "MixerTemplateSetup.conf", "/downloads/mixer_templte_setup" %> here <br />