<h1>Lynx : <%=@salvo.name.capitalize%></h1>
<br/>
<table width="90%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <th bgcolor="white" align="center" width="10%"><b>Nummer</b></th>
          <th bgcolor="white" align="center" width="10%"><b>Stack</b></th>
          <th bgcolor="white" align="center" width="10%"><b>Frame</b></th>
          <th bgcolor="white" align="center" width="5%"><b>Slot</b></th>
          <th bgcolor="white" align="center" width="22%"><b>Parameters</b></th>
          <th bgcolor="white" align="center" width="22%"><b>Value</b></th>
          <th bgcolor="white" align="center" width="15%"><b>Comment</b></th>
	  <th width="6%">&nbsp;</th>
        </tr>
	<tr>
		<td id="crosspoint_container" colspan="8"><%=render :partial => 'crosspoint_list_lynx'%></td>
	</tr>
      </table>
     </td>
</tr>
</table>

* Bitte zunächst die KV w&auml;hlen

