<h1>Crosspoint Setup</h1>
<br/>
<table width="600" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="600" border="0" cellpadding="0" cellspacing="0">
        <tr bgcolor="white">
          <th align="center" width="120">Nummer</th>
          <th align="center" width="120">KV</th>
          <th align="center" width="120">Quelle</th>
          <th align="center" width="120">Senke</th>
        </tr>
      </table>

      <div id="crosspoint_container">
        <%=render :partial => "crosspoint_list"%>
      </div>

     </td>
</tr>
</table>

* Bitte zunächst die KV w&auml;hlen