<div class="ibtSourceTableHeader">
	<div class="ibtSourceTableCol1">
		<%= @i_sgn.intnummer %>
	</div>
	<div class="ibtSourceTableCol6 cloneinput_bg">
		&nbsp; <%= @i_sgn.name %>
	</div>
	<div style="width:7%; float:left;">&nbsp;</div>
</div>

<div class="clear"></div>
