<div class="ibtSourceTableHeader">
	<div class="ibtSourceTableCol1 clean" id="node<%= @node.intnummer %>">
		<%= @node.intnummer %>
	</div>
	<div class="ibtSourceTableCol3 cloneinput_bg">
		&nbsp;<%=@node.name%>

		<input type="image" src="/images/blank.png" width="0" height="0" id="submitchangenode<%=@node.id%>" />
	</div>

</div>

<div class="clear"></div>