<% form_tag :controller => "typetargets", :action => "remove_senke", :id => @panel.id do %>
	<%= submit_tag "Remove Button on Pos.", :class => 'panel-button', :onclick => "if (confirm('Sind Sie sicher, die Sie loschen mochten')){$('div-loader').show();}else{return false;}"%>
	<%= text_field :typetarget, "remove_field", :size => "3" %> &nbsp;
<% end %>