<% form_remote_tag :update => "div_senke", :url => {:controller=>'bediengeraets', :action =>'update_sende_values', :id => @panel} do %>
<% if @sn.nil? %>
____
<% else %>
<%= select('bediengeraets', 'sende_senke_id', @sn, {:selected=>@panel.sende_senke_id, :include_blank=>true}, {:onchange=>"document.getElementById('submit_senke').click();"}) %>
<% end %>
<input type="hidden" id="bediengeraets_sende_matrix_id" name="bediengeraets[sende_matrix_id]" value="<%=@panel.sende_matrix_id%>">
<input type="image" src="/images/blank.png" id="submit_senke" width="0" height=0>
<% end %>