<table>
  <tr>
    <td>
      <%= image_tag "/images/rails.png" %>
    </td>
    <td>
      <b>Objectix Software Solutions GmbH</b><br/>
      Markus Schramm<br/>
      schramm@objectix.de
      Rel.: 20090115rc4-1.2debug
    </td>
  </tr>
  
  
</table>
